body {
  background-color: lightblue;
}

h1 {
  color: navy;
  text-align:center;
}

h3{
	color : red ;
	font-style: italic;
	margin-left : 10px
}

div {
  border: 1px solid blue;
  background-color: white;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  
}